.ipynb_checkpoints/
*/.ipynb_checkpoints/*

**/.eggs/
**/*.npy
.vscode/
.cache/
__pycache__/






nano3_30_11_2024/
PhotosVideos/
rajasthan_stone_worker_data/
processedData/
SamplesVideoAnnotation
idAssign/*.mp4
idAssign/*.pkl
idAssign/*.txt
idAssign/**/*.png
humanDetectID/**/*.png
humanDetectID/*.weights
*.csv