[submodule "humanDetectID/darknet"]
	path = humanDetectID/darknet
	url = https://github.com/hank-ai/darknet.git
[submodule "et"]
	path = et
	url = https://github.com/arghasen10/OpenRadar.git
[submodule "OpenRadar"]
	path = OpenRadar
	url = https://github.com/arghasen10/OpenRadar.git
